* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    display: flex;
    background-color: #ccc;
    justify-content: center;
    margin-bottom: 20px;   
}

.container {
    display: grid;
    grid-template-columns: 70% 30%; 
    width: 100%;
    max-width: 1200px;
}

.top{
    display: flex;
    justify-content: space-between;
    background-color: #444;
    margin-bottom: 10px; 
}

.info{
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
}

.languageSelect {
    margin-left: 10px;
}
.showItems{
    display: grid;
    /* grid-template-rows: repeat(7, 1fr); */
    /* grid-template-columns: 1fr; */
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    margin: 2%;
}
.table-row{

    display: grid;
    grid-template-columns: 5% 40% 25% 10% 10% 10%;

}

.book-details {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
}


.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.addBook {
    display: none; 
    position: fixed; 
    right: 0;
    top: 0;
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.8); 
    width: 300px; 
    padding: 20px;
    color: #ccc;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-info {
    margin-bottom: 15px; 
}

.addBook label {
    display: block; 
    margin-bottom: 5px; 
}










